body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  margin: 5px;
  padding: 5px;
}

input {
  font-size: 20px;
  margin-left: 10px;
}

label {
  display: inline-block;
  /* width: 100px; */
  text-align: left;
}

.post-container {
  border: 1px solid black;
  border-radius: 15px;
  width: 95%;
  margin-top: 2%;
  margin-left: 2%;
}

.post-container > * {
  margin: 1% 2%;
}

.post-container > span {
  border: 1px dashed green;
}

.post-container div {
  transition: max-height 0.3s ease-in-out, opacity 0.3s linear;
  max-height: 1000px; /* Adjust to a reasonable value */
  overflow: hidden;
  opacity: 1;
}

.post-container div.hidden {
  max-height: 0;
  opacity: 0;
}

.comment-container {
  border: 1px solid blue;
  border-radius: 15px;
  width: 80%;
  /* margin-left:5%; */
}

.comment-container > * {
  margin: 2%;
}

.pagination {
  display: inline-block;
}

.pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  margin: 0;
}

.pagination button:first-child {
  border-radius: 5px;
}

.pagination button:last-child {
  border-radius: 5px;
}

.pagination button.active {
  background-color: #4caf50;
  color: white;
}

.pagination button:hover:not(.active):not(:disabled) {
  background-color: #ddd;
}

.pagination button:disabled {
  background-color: darkgray;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-bottom: 42px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-container,
.pagination-container,
.login-container,
.login-submit-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-container span {
  position: absolute;
  margin-top: 20%;
  background-color: yellow;
  border: 2px dashed red;
  border-radius: 10px;
  padding: 10px;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.loader-container span.hidden {
  opacity: 0;
}

.pagination-container {
  margin-top: 15px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.form-floating > label {
  overflow: visible !important;
}

.login-container {
  margin-top: 8%;
}

.login-submit-container {
  margin-top: 8px;
}

#forgotPasswordBtn {
  text-decoration: none;
  color: rgb(52, 163, 231);
}

#forgotPasswordBtn:hover {
  text-decoration: underline;
  cursor: pointer;
}

:root {
  --error-position-x: 169px;
  --error-position-y: -86px;
}

.password-error,
.password-error-hidden {
  position: absolute;
  transform: translate(var(--error-position-x), var(--error-position-y));
  border: 1px solid red;
  width: fit-content;
  padding: 5px;
  border-radius: 15px;
  background-color: red;
}

.password-error-hidden {
  opacity: 0;
  transition: opacity 0.3s linear;
}

.password-no-match {
  border: 1px solid red !important;
}

.password-error-active {
  position: absolute;
  transform: translate(var(--error-position-x), var(--error-position-y));
  border: 1px solid red;
  width: fit-content;
  padding: 5px;
  border-radius: 15px;
  background-color: red;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  backface-visibility: hidden;
  perspective: 1000px;
  transition: opacity 0.3s linear;
  opacity: 1;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(
      calc(var(--error-position-x) - 1px),
      var(--error-position-y),
      0
    );
  }

  20%,
  80% {
    transform: translate3d(
      calc(var(--error-position-x) + 2px),
      var(--error-position-y),
      0
    );
  }

  30%,
  50%,
  70% {
    transform: translate3d(
      calc(var(--error-position-x) - 4px),
      var(--error-position-y),
      0
    );
  }

  40%,
  60% {
    transform: translate3d(
      calc(var(--error-position-x) + 4px),
      var(--error-position-y),
      0
    );
  }

  100% {
    transform: translate3d(var(--error-position-x), var(--error-position-y), 0);
  }
}

.forum-banner {
  width: 100vw;
  font-size: 5vw;
  padding: 2vw;
  padding-left: 5vw;
  background-color: darkgray;
  display: flex;
  height: 25vh;
}

.forum-banner textarea {
  border-style: none;
  border-color: transparent;
  background: transparent;
  overflow: hidden;
  resize: none;
}

.forum-banner img {
  border-radius: 125px;
  display: inline-block;
  margin-right: 20px;
}

.forum-banner div .forum-desc {
  color: grey;
  font-size: 1.2em;
  line-height: 1.5;
  /* height: fit-content; */
}

.forum-banner div .forum-title {
  font-size: 2em;
  /* line-height: 4vw; */
  /* height: 5vw; */
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .forum-banner div .forum-title {
    font-size: 1.5em;
  }

  .forum-banner div .forum-desc {
    font-size: 1em;
  }
}

.flash-message-container {
  z-index: 999;
  display: flex;
  position: absolute;
  width: 100vw;
  justify-content: end;
}

.flash-message {
  margin: 15px;
}

.fa-spin {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-tabs .nav-link {
  margin-bottom: 0 !important;
}

/* Add this to your CSS file */
.horizontal-dropdown {
  display: inline-block;
}

.horizontal-dropdown-content {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping onto the next line */
  max-height: 200px; /* Adjust as needed to limit dropdown height */
  overflow-y: auto; /* Enable vertical scrolling if necessary */
}

.container-forum-image-preview {
  position: relative;
  transition: 0.5s ease;
}

.forum-image-preview {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.container-forum-image-preview:hover .forum-image-preview {
  opacity: 0.5;
  transition: 0.5s ease;
}

.container-forum-image-preview:hover .middle {
  opacity: 1;
  transition: 0.3s ease;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
